<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1000 A.D. - Game</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <table width="800" border="0" cellspacing="0" cellpadding="0" align="center">
        <tr>
            <td width="190" valign="top">
                <table border="1" cellspacing="0" cellpadding="0" width="190" bordercolor="darkslategray">
                    <tr>
                        <td align="middle" bgcolor="darkslategray">
                            <font face="verdana" color="white" size="2">
                                <b>Game Menu</b>
                            </font>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <font face="verdana" color="white" size="2">
                                <a href="?page=main">Main</a><br>
                                <a href="?page=buildings">Buildings</a><br>
                                <a href="?page=military">Military</a><br>
                                <a href="?page=research">Research</a><br>
                                <a href="?page=market">Market</a><br>
                                <a href="?page=alliance">Alliance</a><br>
                                <a href="?page=attack">Attack</a><br>
                                <a href="?page=spy">Spy</a><br>
                                <a href="?page=news">News</a><br>
                                <a href="?page=help">Help</a><br>
                                <hr color="darkslategray" noshade size="1">
                                <a href="/logout">Logout</a>
                            </font>
                        </td>
                    </tr>
                    <tr>
                        <td align="middle" bgcolor="darkslategray">
                            <font face="verdana" color="white" size="2">
                                <b>Game Forums</b>
                            </font>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <font face="verdana" color="white" size="2">
                                Post bugs, suggestions. Find alliance members. 
                                Find out what's new and coming soon.
                                <br>
                                <b><a target="_blank" href="http://www.adersoftware.com/forums/">Game Forums</a></b>
                                <hr color="darkslategray" noshade size="1">
                            </font>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="darkslategray" align="center">
                            <font face="verdana" size="2" color="White">
                                <b>Latest Fixes/Updates</b>
                            </font>
                        </td>
                    </tr>
                </table>
            </td>
            <td width="10">&nbsp;</td>
            <td width="600" align="right" valign="top">
                <table border="1" cellspacing="0" cellpadding="0" width="600" bordercolor="darkslategray">
                    <tr>
                        <td nowrap bgcolor="darkslategray" align="center">
                            <font face="verdana" size="2">
                                <b>Score: <%= user.score %></b>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </font>
                        </td>
                        <td nowrap align="center" bgcolor="darkslategray">
                            <font face="verdana" size="2">
                                <b>Population: <%= user.resources.people %></b>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <b>Gold: <%= user.resources.gold %></b>
                            </font>
                        </td>
                        <td nowrap align="right" bgcolor="darkslategray">
                            <font face="verdana" size="2">
                                <a href="?eflag=end_turn">END TURN</a>
                            </font>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                <tr>
                                    <td>
                                        <table border="0" cellspacing="0" cellpadding="2" width="100%">
                                            <tr>
                                                <td bgcolor="#663333"><b>Total:</b></td>
                                                <td nowrap bgcolor="#663333">
                                                    <img alt="Total Mountain Land" src="/images/mland.gif" align="absmiddle" border="0">
                                                    <font size="1"><%= user.land.m_land %></font>
                                                </td>
                                                <td width="10" bgcolor="#663333">&nbsp;</td>
                                                <td nowrap bgcolor="#663333">
                                                    <img alt="Total Forest Land" src="/images/fland.gif" align="absmiddle" border="0">
                                                    <font size="1"><%= user.land.f_land %></font>
                                                </td>
                                                <td width="10" bgcolor="#663333">&nbsp;</td>
                                                <td nowrap bgcolor="#663333">
                                                    <img alt="Total Plains Land" src="/images/pland.gif" align="absmiddle" border="0">
                                                    <font size="1"><%= user.land.p_land %></font>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td bgcolor="#336633"><b>Free:</b></td>
                                                <td nowrap bgcolor="#336633">
                                                    <img alt="Free Mountain Land" src="/images/mland_free.gif" align="absmiddle" border="0">
                                                    <font size="1"><%= user.land.free_m_land %></font>
                                                </td>
                                                <td width="10" bgcolor="#336633">&nbsp;</td>
                                                <td nowrap bgcolor="#336633">
                                                    <img alt="Free Forest Land" src="/images/fland_free.gif" align="absmiddle" border="0">
                                                    <font size="1"><%= user.land.free_f_land %></font>
                                                </td>
                                                <td width="10" bgcolor="#336633">&nbsp;</td>
                                                <td nowrap bgcolor="#336633">
                                                    <img alt="Free Plains Land" src="/images/pland_free.gif" align="absmiddle" border="0">
                                                    <font size="1"><%= user.land.free_p_land %></font>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td width="10">&nbsp;</td>
                                    <td align="right">
                                        <table border="0" cellspacing="0" cellpadding="2" bordercolor="silver">
                                            <tr>
                                                <td nowrap style="cursor:default" title="You have <%= user.resources.food %> food available">
                                                    <img src="/images/food.gif" width="24" height="24" alt="Food" align="absmiddle" border="0">
                                                    <font size="1"><%= user.resources.food %></font>
                                                </td>
                                                <td width="10">&nbsp;</td>
                                                <td nowrap style="cursor:default" title="You have <%= user.resources.wood %> wood available">
                                                    <img src="/images/wood.gif" width="24" height="24" alt="Wood" align="absmiddle" border="0">
                                                    <font size="1"><%= user.resources.wood %></font>
                                                </td>
                                                <td width="10">&nbsp;</td>
                                                <td nowrap style="cursor:default" title="You have <%= user.resources.iron %> iron available">
                                                    <img src="/images/iron.gif" width="24" height="24" alt="Iron" align="absmiddle" border="0">
                                                    <font size="1"><%= user.resources.iron %></font>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td nowrap style="cursor:default" title="You have <%= user.resources.wine %> wine available">
                                                    <img src="/images/wine.gif" width="24" height="24" alt="Wine" align="absmiddle" border="0">
                                                    <font size="1"><%= user.resources.wine %></font>
                                                </td>
                                                <td width="10">&nbsp;</td>
                                                <td nowrap style="cursor:default" title="You have <%= user.resources.tools %> tools available">
                                                    <img src="/images/tools.gif" width="24" height="24" alt="Tools" align="absmiddle" border="0">
                                                    <font size="1"><%= user.resources.tools %></font>
                                                </td>
                                                <td width="10">&nbsp;</td>
                                                <td nowrap style="cursor:default" title="You have <%= user.equipment.horses %> horses available">
                                                    <img src="/images/horse.gif" width="24" height="24" alt="Horses" align="absmiddle" border="0">
                                                    <font size="1"><%= user.equipment.horses %></font>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <br>
                <br>
            </td>
        </tr>
        <tr>
            <td colspan="3" align="center">
                <font face="verdana" size="2" color="White">
                    <hr noshade size="1" color="darkslategray">
                    Game Time: <%= new Date().toLocaleString() %><br>
                </font>
            </td>
        </tr>
    </table>
</body>
</html> 