<div class="card">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h5 class="mb-0">Aid</h5>
  </div>
  <div class="card-body">
    <div class="mb-3">
      <p class="text-muted">
        You can send aid to your friends. You need market places to send goods.  There is 5% fee for sending goods.
      </p>

      <p>
        Your markets allow you to send <strong><%= number_with_delimiter(@data[:user_data][:max_trades]) %></strong> goods each month,
        out of which <span class="<%= @data[:user_data][:trades_remaining] == 0 ? 'text-danger' : 'text-success' %>">
            <strong><%= number_with_delimiter(@data[:user_data][:trades_remaining]) %></strong>
          </span> are still available.
      </p>
    </div>

    <%= form_with url: user_game_aids_path(@user_game), method: :post, local: true, class: "mb-4" do |form| %>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead class="table-light">
          <tr>
            <th></th>
            <th class="text-end">You Have</th>
            <th>Send</th>
          </tr>
          </thead>
          <tbody>
          <% UserGame::AID_RESOURCES.each do |resource| %>
            <tr>
              <td><strong><%= resource.humanize %></strong></td>
              <td class="text-end"><%= number_with_delimiter(@user_game.send(resource)) %></td>
              <td><%= form.number_field "send_#{resource}".to_sym, min: 0, class: "form-control form-control-sm", style: "width: 120px;" %></td>
            </tr>
          <% end %>
          <tr class="table-light">
            <td colspan="2">
              <strong>Send to empire #</strong>
              <%= form.number_field :to_user_game_id, min: 1, class: "form-control form-control-sm d-inline-block ms-2", style: "width: 80px;" %>
            </td>
            <td>
              <%= form.submit "Send", class: "btn btn-primary" %>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    <% end %>

    <% if @data[:user_data][:aid_transfer_queues].present? %>
      <div class="mt-4">
        <div class="card">
          <div class="card-header">
            <h6 class="mb-0">Dispatched Caravans</h6>
          </div>
          <div class="card-body">
            <% cancel_time = 15.minutes.ago %>
            <% @data[:user_data][:aid_transfer_queues].each_with_index do |transfer, index| %>
              <div class="mb-3 <% unless index == @data[:user_data][:aid_transfer_queues].length - 1 %>border-bottom pb-3<% end %>">
                <p class="mb-1">
                  <strong>Sent to <%= transfer.to_user_game.user.email %> (#<%= transfer.to_user_game.id %>)</strong> with
                  <% resource_items = UserGame::AID_RESOURCES.filter_map do |resource|
                       amount = transfer.send(resource)
                       amount && amount > 0 ? "#{amount} #{resource}" : nil
                     end %>
                  <%= resource_items.to_sentence %>
                  and will reach their destination in
                  <strong><%= transfer.turns_remaining %> turns</strong>.
                </p>

                <% if transfer.turns_remaining == TransferQueue::DEFAULT_TURNS_REMAINING && transfer.created_at > cancel_time %>
                  <%= button_to "Cancel this aid",
                                user_game_aid_path(@user_game, transfer),
                                method: :delete,
                                data: { confirm: "Are you sure you want to cancel this aid?" },
                                class: "btn btn-sm btn-outline-danger" %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
