<div class="container">
  <div class="row">
    <div class="col-12">
      <h3 class="mb-4"><%= t('attack.title') %></h3>

      <% if @user_game.protection_turns > 0 %>
        <div class="alert alert-warning">
          <%= t('attack.under_protection') %>
          <br>
          <%= t('attack.protection_remaining', turns: @user_game.protection_turns) %>
        </div>
      <% else %>
        <!-- Attack Queue Section -->
        <% if @data[:user_data][:attack_queues].blank? %>
          <div class="alert alert-info"><%= t('attack.no_armies') %></div>
        <% else %>
          <h4><%= t('attack.active_armies') %></h4>
          <table class="table table-bordered">
            <thead>
              <tr class="table-light">
                <th><%= t('attack.attack_table.empire') %></th>
                <th><%= t('attack.attack_table.type') %></th>
                <th><%= t('attack.attack_table.your_army') %></th>
                <th><%= t('attack.attack_table.status') %></th>
                <th><%= t('attack.attack_table.actions') %></th>
              </tr>
            </thead>
            <tbody>
              <% @data[:user_data][:attack_queues].each do |attack_queue| %>
                <tr>
                  <td>
                    <%= attack_queue.to_user_game.user.email %>
                    <% if attack_queue.to_user_game.score < @user_game.score / 2 %>
                      <div class="text-danger small">
                        <%= t('attack.revolt_warning') %>
                      </div>
                    <% end %>
                  </td>
                  <td>
                    <%= attack_queue.attack_type %>
                  </td>
                  <td class="small">
                    <% @data[:soldiers].each do |key, soldier| %>
                      <% next unless attack_queue.respond_to?("#{key}_soldiers") %>

                      <% if attack_queue.send("#{key}_soldiers") > 0 %><div><%= number_with_delimiter(attack_queue.send("#{key}_soldiers")) %> <%= soldier[:name] %></div><% end %>
                    <% end %>

                    <% if attack_queue.cost_wine.to_i > 0 %><div><%= number_with_delimiter(attack_queue.cost_wine) %> <%= t('attack.units_of_wine') %></div><% end %>

                    <div class="mt-2"><strong><%= t('attack.attack_strength', percent: number_with_delimiter(100)) %></strong></div>
                  </td>
                  <td><%= attack_queue.attack_status %></td>
                  <td>
                    <% if attack_queue.can_cancel? %>
                      <%= link_to t('attack.cancel'), cancel_attack_user_game_attack_path(@user_game, attack_queue), class: "btn btn-sm btn-danger" %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>

        <!-- Army Attack Form Section -->
        <div class="row mt-4">
          <div class="col-md-6 mx-auto">
            <div class="card border-dark mb-4">
              <div class="card-header bg-light text-dark"><%= t('attack.army_attack.title') %></div>
              <div class="card-body">
                <%= form_with url: army_attack_user_game_attacks_path(@user_game), method: :post, local: true do |form| %>
                  <div class="mb-3">
                    <%= form.select :attack_type, [
                      [t('attack.army_attack.types.conquer'), 'army_conquer'],
                      [t('attack.army_attack.types.raid'), 'army_raid'],
                      [t('attack.army_attack.types.rob'), 'army_rob'],
                      [t('attack.army_attack.types.slaughter'), 'army_slaughter']
                    ], {}, { class: "form-select" } %>
                  </div>

                  <div class="mb-3">
                    <%= form.label :to_user_game_id, t('attack.army_attack.empire_label'), class: "form-label" %>
                    <%= form.text_field :to_user_game_id, value: params[:to_user_game_id], class: "form-control", maxlength: 5, size: 3 %>
                  </div>

                  <h5 class="mb-3"><%= t('attack.army_attack.army_units') %></h5>

                  <% @data[:soldiers].each do |key, soldier| %>
                    <% next if soldier[:settings][:turns].negative? %>
                    <% next if soldier[:soldier_type] != 'unit' %>

                    <div class="mb-2">
                      <%= form.label key, soldier[:name], class: "form-label" %>
                      <div class="input-group">
                        <%= form.text_field key, value: 0, class: "form-control", maxlength: 10 %>
                        <span class="input-group-text"><%= t('attack.army_attack.you_have', count: number_with_delimiter(@data[:user_data][key][:count])) %></span>
                      </div>
                    </div>
                  <% end %>

                  <div class="mb-3 form-check">
                    <%= form.check_box :send_all, class: "form-check-input", value: '0' %>
                    <%= form.label :send_all, t('attack.army_attack.send_all'), class: "form-check-label" %>
                  </div>

                  <h5 class="mb-3 mt-4"><%= t('attack.army_attack.resources') %></h5>

                  <div class="mb-2">
                    <%= form.label :cost_wine, t('attack.army_attack.wine_label'), class: "form-label" %>
                    <div class="input-group">
                      <%= form.text_field :cost_wine, value: 0, class: "form-control", maxlength: 10 %>
                      <span class="input-group-text"><%= t('attack.army_attack.you_have', count: number_with_delimiter(@user_game.wine)) %></span>
                    </div>
                  </div>

                  <div class="mb-3 form-check">
                    <%= form.check_box :maximum_wine, class: "form-check-input" %>
                    <%= form.label :maximum_wine, t('attack.army_attack.max_wine'), class: "form-check-label" %>
                  </div>

                  <div class="text-center">
                    <%= form.submit t('attack.army_attack.attack_btn'), class: "btn btn-danger" %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>

        <!-- Catapult Attack Form Section -->
        <div class="row mt-4">
          <div class="col-md-6 mx-auto">
            <div class="card border-dark mb-4">
              <div class="card-header bg-light text-dark"><%= t('attack.catapult_attack.title') %></div>
              <div class="card-body">
                <%= form_with url: catapult_attack_user_game_attacks_path(@user_game), method: :post, local: true do |form| %>
                  <div class="mb-3">
                    <%= form.select :attack_type, [
                      [t('attack.catapult_attack.types.army_and_towers'), 'catapult_army_and_towers'],
                      [t('attack.catapult_attack.types.population'), 'catapult_population'],
                      [t('attack.catapult_attack.types.buildings'), 'catapult_buildings']
                    ], {}, { class: "form-select" } %>
                  </div>

                  <div class="mb-3">
                    <%= form.label :to_user_game_id, t('attack.catapult_attack.empire_label'), class: "form-label" %>
                    <%= form.text_field :to_user_game_id, value: params[:to_user_game_id], class: "form-control", maxlength: 5, size: 3 %>
                  </div>

                  <div class="mb-3">
                    <%= form.label :catapult, @data[:soldiers][:catapult][:name], class: "form-label" %>
                    <div class="input-group">
                      <%= form.text_field :catapult, value: 0, class: "form-control", maxlength: 10 %>
                      <span class="input-group-text"><%= t('attack.army_attack.you_have', count: number_with_delimiter(@data[:user_data][:catapult][:count])) %></span>
                    </div>
                  </div>

                  <div class="mb-3 form-check">
                    <%= form.check_box :send_all, class: "form-check-input", id: "catapult_send_all" %>
                    <%= form.label :send_all, t('attack.catapult_attack.send_all'), class: "form-check-label", for: "catapult_send_all" %>
                  </div>

                  <div class="text-center">
                    <%= form.submit t('attack.catapult_attack.attack_btn'), class: "btn btn-danger" %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>

        <!-- Thief Attack Form Section -->
        <div class="row mt-4">
          <div class="col-md-6 mx-auto">
            <div class="card border-dark mb-4">
              <div class="card-header bg-light text-dark"><%= t('attack.thief_attack.title') %></div>
              <div class="card-body">
                <%= form_with url: thief_attack_user_game_attacks_path(@user_game), method: :post, local: true do |form| %>
                  <div class="mb-3">
                    <%= form.select :attack_type, [
                      [t('attack.thief_attack.types.steal_army'), 'thief_steal_army_information'],
                      [t('attack.thief_attack.types.steal_building'), 'thief_steal_building_information'],
                      [t('attack.thief_attack.types.steal_research'), 'thief_steal_research_information'],
                      [t('attack.thief_attack.types.steal_goods'), 'thief_steal_goods'],
                      [t('attack.thief_attack.types.poison_water'), 'thief_poison_water'],
                      [t('attack.thief_attack.types.set_fire'), 'thief_set_fire']
                    ], {}, { class: "form-select" } %>
                  </div>

                  <div class="mb-3">
                    <%= form.label :to_user_game_id, t('attack.thief_attack.empire_label'), class: "form-label" %>
                    <%= form.text_field :to_user_game_id, value: params[:to_user_game_id], class: "form-control", maxlength: 5, size: 3 %>
                  </div>

                  <div class="mb-3">
                    <%= form.label :thieve, @data[:soldiers][:thieve][:name], class: "form-label" %>
                    <div class="input-group">
                      <%= form.text_field :thieve, value: 0, class: "form-control", maxlength: 10 %>
                      <span class="input-group-text"><%= t('attack.army_attack.you_have', count: number_with_delimiter(@data[:user_data][:thieve][:count])) %></span>
                    </div>
                  </div>

                  <div class="mb-3 form-check">
                    <%= form.check_box :send_all, class: "form-check-input", id: "thief_send_all" %>
                    <%= form.label :send_all, t('attack.thief_attack.send_all'), class: "form-check-label", for: "thief_send_all" %>
                  </div>

                  <div class="text-center">
                    <%= form.submit t('attack.thief_attack.attack_btn'), class: "btn btn-danger" %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
