<div class="container">
  <div class="row">
    <div class="col-12">
      <h3 class="mb-4">Attack</h3>

      <% if @user_game.turn <= @data[:game_data][:turns_under_protection] %>
        <div class="alert alert-warning">
          Cannot attack under protection.
          <br>
          (You are under protection for the first <%= (@data[:game_data][:turns_under_protection].to_f / 12).round(2) %> years of game)
        </div>
      <% else %>
        <!-- Attack Queue Section -->
        <% if @data[:user_data][:attack_queues].blank? %>
          <div class="alert alert-info">Your armies are not attacking anyone.</div>
        <% else %>
          <h4>Active Armies</h4>
          <table class="table table-bordered">
            <thead>
              <tr class="table-dark">
                <th>Empire Attacked</th>
                <th>Attack Type</th>
                <th>Your Army</th>
                <th>Status</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% @data[:user_data][:attack_queues].each do |attack_queue| %>
                <tr>
                  <td>
                    <%= attack_queue.to_user_game.user.email %>
                    <% if attack_queue.to_user_game.score < @user_game.score / 2 %>
                      <div class="text-danger small">
                        Warning! Attacking empires smaller than 1/2 of your size will result in revolt.
                      </div>
                    <% end %>
                  </td>
                  <td>
                    <%= attack_queue.attack_type %>
                  </td>
                  <td class="small">
                    <% @data[:soldiers].each do |key, soldier| %>
                      <% next unless attack_queue.respond_to?("#{key}_soldiers") %>

                      <% if attack_queue.send("#{key}_soldiers") > 0 %><div><%= number_with_delimiter(attack_queue.send("#{key}_soldiers")) %> <%= soldier[:name] %></div><% end %>
                    <% end %>

                    <% if attack_queue.cost_wine.to_i > 0 %><div><%= number_with_delimiter(attack_queue.cost_wine) %> units of wine</div><% end %>

                    <div class="mt-2"><strong>Attack Strength: <%= number_with_delimiter(100) %>%</strong></div>
                  </td>
                  <td><%= attack_queue.attack_status %></td>
                  <td>
                    <% if attack_queue.can_cancel? %>
                      <%= link_to "Cancel", cancel_attack_user_game_attack_path(@user_game, attack_queue), class: "btn btn-sm btn-danger" %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>

        <!-- Army Attack Form Section -->
        <div class="row mt-4">
          <div class="col-md-6 mx-auto">
            <div class="card border-dark mb-4">
              <div class="card-header bg-dark text-white">Army Attack</div>
              <div class="card-body">
                <%= form_with url: army_attack_user_game_attacks_path(@user_game), method: :post, local: true do |form| %>
                  <div class="mb-3">
                    <%= form.select :attack_type, [
                      ["Conquer (take land)", 'army_conquer'],
                      ["Raid (destroy)", 'army_raid'],
                      ["Rob (steal resources)", 'army_rob'],
                      ["Slaughter (kill population)", 'army_slaughter']
                    ], {}, { class: "form-select" } %>
                  </div>

                  <div class="mb-3">
                    <%= form.label :to_user_game_id, "Empire #", class: "form-label" %>
                    <%= form.text_field :to_user_game_id, value: params[:to_user_game_id], class: "form-control", maxlength: 5, size: 3 %>
                  </div>

                  <h5 class="mb-3">Army Units</h5>

                  <div class="mb-2">
                    <%= form.label :unique_unit_soldiers, @data[:soldiers][:unique_unit][:name], class: "form-label" %>
                    <div class="input-group">
                      <%= form.text_field :unique_unit_soldiers, value: 0, class: "form-control", maxlength: 10 %>
                      <span class="input-group-text">You have <%= number_with_delimiter(@data[:user_data][:unique_unit][:count]) %></span>
                    </div>
                  </div>

                  <div class="mb-2">
                    <%= form.label :swordsman_soldiers, @data[:soldiers][:swordsman][:name], class: "form-label" %>
                    <div class="input-group">
                      <%= form.text_field :swordsman_soldiers, value: 0, class: "form-control", maxlength: 10 %>
                      <span class="input-group-text">You have <%= number_with_delimiter(@data[:user_data][:swordsman][:count]) %></span>
                    </div>
                  </div>

                  <div class="mb-2">
                    <%= form.label :archer_soldiers, @data[:soldiers][:archer][:name], class: "form-label" %>
                    <div class="input-group">
                      <%= form.text_field :archer_soldiers, value: 0, class: "form-control", maxlength: 10 %>
                      <span class="input-group-text">You have <%= number_with_delimiter(@data[:user_data][:archer][:count]) %></span>
                    </div>
                  </div>

                  <div class="mb-2">
                    <%= form.label :horseman_soldiers, @data[:soldiers][:horseman][:name], class: "form-label" %>
                    <div class="input-group">
                      <%= form.text_field :horseman_soldiers, value: 0, class: "form-control", maxlength: 10 %>
                      <span class="input-group-text">You have <%= number_with_delimiter(@data[:user_data][:horseman][:count]) %></span>
                    </div>
                  </div>

                  <div class="mb-2">
                    <%= form.label :macemen_soldiers, @data[:soldiers][:macemen][:name], class: "form-label" %>
                    <div class="input-group">
                      <%= form.text_field :macemen_soldiers, value: 0, class: "form-control", maxlength: 10 %>
                      <span class="input-group-text">You have <%= number_with_delimiter(@data[:user_data][:macemen][:count]) %></span>
                    </div>
                  </div>

                  <div class="mb-2">
                    <%= form.label :trained_peasant_soldiers, @data[:soldiers][:trained_peasant][:name], class: "form-label" %>
                    <div class="input-group">
                      <%= form.text_field :trained_peasant_soldiers, value: 0, class: "form-control", maxlength: 10 %>
                      <span class="input-group-text">You have <%= number_with_delimiter(@data[:user_data][:trained_peasant][:count]) %></span>
                    </div>
                  </div>

                  <div class="mb-3 form-check">
                    <%= form.check_box :send_all, class: "form-check-input" %>
                    <%= form.label :send_all, "Send All Army", class: "form-check-label" %>
                  </div>

                  <h5 class="mb-3 mt-4">Resources</h5>

                  <div class="mb-2">
                    <%= form.label :cost_wine, "Wine", class: "form-label" %>
                    <div class="input-group">
                      <%= form.text_field :cost_wine, value: 0, class: "form-control", maxlength: 10 %>
                      <span class="input-group-text">You have <%= number_with_delimiter(@user_game.wine) %></span>
                    </div>
                  </div>

                  <div class="mb-3 form-check">
                    <%= form.check_box :maximum_wine, class: "form-check-input" %>
                    <%= form.label :maximum_wine, 'Send max wine?', class: "form-check-label" %>
                  </div>

                  <div class="text-center">
                    <%= form.submit "Attack", class: "btn btn-danger" %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>

        <!-- Catapult Attack Form Section -->
        <div class="row mt-4">
          <div class="col-md-6 mx-auto">
            <div class="card border-dark mb-4">
              <div class="card-header bg-dark text-white">Catapult Attack</div>
              <div class="card-body">
                <%= form_with url: catapult_attack_user_game_attacks_path(@user_game), method: :post, local: true do |form| %>
                  <div class="mb-3">
                    <%= form.select :attack_type, [
                      ["Catapult Army and Towers", 'catapult_army_and_towers'],
                      ["Catapult Population", 'catapult_population'],
                      ["Catapult Buildings", 'catapult_buildings']
                    ], {}, { class: "form-select" } %>
                  </div>

                  <div class="mb-3">
                    <%= form.label :to_user_game_id, "Empire #", class: "form-label" %>
                    <%= form.text_field :to_user_game_id, value: params[:to_user_game_id], class: "form-control", maxlength: 5, size: 3 %>
                  </div>

                  <div class="mb-3">
                    <%= form.label :catapult_soldiers, @data[:soldiers][:catapult][:name], class: "form-label" %>
                    <div class="input-group">
                      <%= form.text_field :catapult_soldiers, value: 0, class: "form-control", maxlength: 10 %>
                      <span class="input-group-text">You have <%= number_with_delimiter(@data[:user_data][:catapult][:count]) %></span>
                    </div>
                  </div>

                  <div class="mb-3 form-check">
                    <%= form.check_box :send_all, class: "form-check-input" %>
                    <%= form.label :send_all, "Send All Catapults", class: "form-check-label" %>
                  </div>

                  <div class="text-center">
                    <%= form.submit "Attack", class: "btn btn-danger" %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>

        <!-- Thief Attack Form Section -->
        <div class="row mt-4">
          <div class="col-md-6 mx-auto">
            <div class="card border-dark mb-4">
              <div class="card-header bg-dark text-white">Thief Attack</div>
              <div class="card-body">
                <%= form_with url: thief_attack_user_game_attacks_path(@user_game), method: :post, local: true do |form| %>
                  <div class="mb-3">
                    <%= form.select :attack_type, [
                      ["Steal Army Information", 'thief_steal_army_information'],
                      ["Steal Building Information", 'thief_steal_building_information'],
                      ["Steal Research Information", 'thief_steal_research_information'],
                      ["Steal Goods", 'thief_steal_goods'],
                      ["Poison Water", 'thief_poison_water'],
                      ["Set Fire", 'thief_set_fire']
                    ], {}, { class: "form-select" } %>
                  </div>

                  <div class="mb-3">
                    <%= form.label :to_user_game_id, "Empire #", class: "form-label" %>
                    <%= form.text_field :to_user_game_id, value: params[:to_user_game_id], class: "form-control", maxlength: 5, size: 3 %>
                  </div>

                  <div class="mb-3">
                    <%= form.label :thieve_soldiers, @data[:soldiers][:thieve][:name], class: "form-label" %>
                    <div class="input-group">
                      <%= form.text_field :thieve_soldiers, value: 0, class: "form-control", maxlength: 10 %>
                      <span class="input-group-text">You have <%= number_with_delimiter(@data[:user_data][:thieve][:count]) %></span>
                    </div>
                  </div>

                  <div class="mb-3 form-check">
                    <%= form.check_box :send_all, class: "form-check-input" %>
                    <%= form.label :send_all, "Send All Thieves", class: "form-check-label" %>
                  </div>

                  <div class="text-center">
                    <%= form.submit "Attack", class: "btn btn-danger" %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
