<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Production Buildings</h5>
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between">
            <span>Wood Cutters:</span>
            <span><%= user_game.wood_cutter %></span>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <span>Gold Mines:</span>
            <span><%= user_game.gold_mine %></span>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <span>Iron Mines:</span>
            <span><%= user_game.iron_mine %></span>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <span>Tool Makers:</span>
            <span><%= user_game.tool_maker %></span>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <span>Hunters:</span>
            <span><%= user_game.hunter %></span>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <span>Farmers:</span>
            <span><%= user_game.farmer %></span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Infrastructure</h5>
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between">
            <span>Houses:</span>
            <span><%= user_game.house %></span>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <span>Town Centers:</span>
            <span><%= user_game.town_center %></span>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <span>Markets:</span>
            <span><%= user_game.market %></span>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <span>Towers:</span>
            <span><%= user_game.tower %></span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div> 