<div class="card">
  <div class="card-header">
    <h5 class="mb-0">Building Status</h5>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-striped table-hover align-middle">
        <thead class="table-light">
        <tr>
          <th>Building</th>
          <th class="text-end">Have</th>
          <th class="text-end">Land</th>
          <th>Status</th>
          <th class="text-end">Workers</th>
          <th>Production</th>
          <th>Consumption</th>
        </tr>
        </thead>
        <tbody>
        <%= form_with(url: user_game_path(@game), method: :put, local: true) do |f| %>
          <% @data[:buildings].each do |key, building| %>
            <% have = @data[:user_data][key][:count] %>
            <% status = @data[:user_data][key][:status] %>
            <% land = have * building[:settings][:squares] %>
            <% working = building[:settings][:allow_off] ? (have * (status / 100.0)).round : have %>
            <% workers = working * building[:settings][:workers].to_i %>

            <tr>
              <td>
                <%= building[:name] %>
              </td>
              <td class="text-end"><%= number_with_delimiter(have) %></td>
              <td class="text-end"><%= number_with_delimiter(land) %> <%= building[:settings][:land] %></td>
              <td>
                <% if building[:settings][:allow_off] %>
                  <%= f.select "#{key}_status",
                               (0..10).map { |n| [n * 10, n] },
                               { selected: status / 10 },
                               { class: 'form-select form-select-sm' }
                  %>
                <% else %>
                  —
                <% end %>
              </td>
              <td class="text-end"><%= number_with_delimiter(workers) %></td>
              <td>
                'Testing production'
              </td>
              <td>
                'Testing consumption'
              </td>
            </tr>
          <% end %>

          <tr class="table-light">
            <td colspan="7" class="text-end">
              <%= f.submit 'Update Production', class: 'btn btn-primary' %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
