<div class="card">
  <div class="card-header bg-dark text-white">
    <h5 class="mb-0">Food Rationing</h5>
  </div>
  <div class="card-body">
    <%= form_with(url: user_game_path(@game), method: :put, local: true) do |f| %>      
      <div class="form-check mb-2">
        <%= f.radio_button :food_ratio, 4, class: 'form-check-input', checked: @user_game.food_ratio == 4 %>
        <%= f.label :food_ratio, 'Extremely High (High population growth)', class: 'form-check-label', value: 4 %>
      </div>
      
      <div class="form-check mb-2">
        <%= f.radio_button :food_ratio, 3, class: 'form-check-input', checked: @user_game.food_ratio == 3 %>
        <%= f.label :food_ratio, 'Very High', class: 'form-check-label', value: 3 %>
      </div>
      
      <div class="form-check mb-2">
        <%= f.radio_button :food_ratio, 2, class: 'form-check-input', checked: @user_game.food_ratio == 2 %>
        <%= f.label :food_ratio, 'High', class: 'form-check-label', value: 2 %>
      </div>
      
      <div class="form-check mb-2">
        <%= f.radio_button :food_ratio, 1, class: 'form-check-input', checked: @user_game.food_ratio == 1 %>
        <%= f.label :food_ratio, 'Above Average', class: 'form-check-label', value: 1 %>
      </div>
      
      <div class="form-check mb-2">
        <%= f.radio_button :food_ratio, 0, class: 'form-check-input', checked: @user_game.food_ratio == 0 %>
        <%= f.label :food_ratio, 'Average (Normal Growth)', class: 'form-check-label', value: 0 %>
      </div>
      
      <div class="form-check mb-2">
        <%= f.radio_button :food_ratio, -1, class: 'form-check-input', checked: @user_game.food_ratio == -1 %>
        <%= f.label :food_ratio, 'Below Average', class: 'form-check-label', value: -1 %>
      </div>
      
      <div class="form-check mb-3">
        <%= f.radio_button :food_ratio, -2, class: 'form-check-input', checked: @user_game.food_ratio == -2 %>
        <%= f.label :food_ratio, 'Low (High Population Decline)', class: 'form-check-label', value: -2 %>
      </div>
      
      <div class="text-center">
        <%= f.submit 'Change Food Rationing', class: 'btn btn-dark' %>
      </div>
    <% end %>
  </div>
</div> 