<div class="card">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h5 class="mb-0"><%= t('wall.title') %></h5>
  </div>
  <div class="card-body">
    <p>
      <%= t('wall.current_wall', count: number_with_delimiter(@user_game.wall)) %>
      <span class="h4 fw-bold"><%= t('wall.extra_protection', percent: number_with_delimiter(@data[:user_data][:wall_protection])) %></span><br>
      <%= t('wall.wall_needed', count: number_with_delimiter(@data[:user_data][:total_wall])) %>
    </p>

    <%= form_with url: user_game_path(@user_game), method: :put, class: "mt-4" do |f| %>

      <div class="card">
        <div class="card-header">
          <strong><%= t('wall.builder_percentage') %></strong>
        </div>
        <div class="card-body">
          <div class="mb-3">
            <%= f.label :wall_build_per_turn, t('wall.builder_percentage_label'), class: "form-label" %>
            <div class="input-group">
              <%= f.number_field :wall_build_per_turn,
                  value: @user_game.wall_build_per_turn,
                  class: "form-control",
                  style: "width: 100px" %>
              <span class="input-group-text">%</span>
            </div>
          </div>

          <p class="text-muted">
            <%= t('wall.builders_info',
                wall_builders: @data[:user_data][:wall_builders],
                num_builders: @data[:user_data][:num_builders],
                wall_build: @data[:user_data][:wall_build]) %><br>
            <%= t('wall.monthly_cost') %>
            <%= number_with_delimiter(@data[:user_data][:wall_build] * @data[:game_data][:wall_use_gold]) %> gold,
            <%= number_with_delimiter(@data[:user_data][:wall_build] * @data[:game_data][:wall_use_wood]) %> wood,
            <%= number_with_delimiter(@data[:user_data][:wall_build] * @data[:game_data][:wall_use_iron]) %> iron,
            <%= number_with_delimiter(@data[:user_data][:wall_build] * @data[:game_data][:wall_use_wine]) %> wine
          </p>

          <hr>

          <p class="text-muted">
            <%= t('wall.unit_cost') %> <%= number_with_delimiter(@data[:game_data][:wall_use_gold]) %> gold, <%= number_with_delimiter(@data[:game_data][:wall_use_wood]) %> wood, <%= number_with_delimiter(@data[:game_data][:wall_use_iron]) %> iron and <%= number_with_delimiter(@data[:game_data][:wall_use_wine]) %> wine
          </p>

          <div class="text-center">
            <%= f.submit t('wall.update'), class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%# Wall Help Modal %>
<div class="modal fade" id="wallHelpModal" tabindex="-1" aria-labelledby="wallHelpModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="wallHelpModalLabel"><%= t('wall.help_modal.title') %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p><%= t('wall.help_modal.description') %></p>

        <h6><%= t('wall.help_modal.how_it_works') %></h6>
        <ul>
          <li><%= t('wall.help_modal.item1') %></li>
          <li><%= t('wall.help_modal.item2') %></li>
          <li><%= t('wall.help_modal.item3') %></li>
          <li><%= t('wall.help_modal.item4') %></li>
        </ul>

        <h6><%= t('wall.help_modal.resource_costs') %></h6>
        <ul>
          <li>Gold: <%= number_with_delimiter(@data[:game_data][:wall_use_gold]) %> <%= t('wall.help_modal.per_unit') %></li>
          <li>Wood: <%= number_with_delimiter(@data[:game_data][:wall_use_wood]) %> <%= t('wall.help_modal.per_unit') %></li>
          <li>Iron: <%= number_with_delimiter(@data[:game_data][:wall_use_iron]) %> <%= t('wall.help_modal.per_unit') %></li>
          <li>Wine: <%= number_with_delimiter(@data[:game_data][:wall_use_wine]) %> <%= t('wall.help_modal.per_unit') %></li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><%= t('wall.help_modal.close') %></button>
      </div>
    </div>
  </div>
</div>
