<div class="container mt-4">
  <h1>Select Your Civilization</h1>
  <p class="lead">Choose a civilization to start your empire in this game</p>

  <div class="row">
    <% @civilizations.each do |civilization| %>
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title"><%= civilization.name %></h5>
            <p class="card-text"><%= civilization.description %></p>
            
            <h6>Bonuses:</h6>
            <ul class="list-unstyled">
              <% civilization.buildings.to_a.each do |key, value| %>
                <li>
                  <%= key.humanize %>: 
                  <% if value.present? %>
                    <span class="text-success">+<%= value %>%</span>
                  <% end %>
                </li>
              <% end %>
            </ul>

            <%= button_to 'Choose Civilization', 
                         join_game_path(@game, civilization_id: civilization.id),
                         method: :post,
                         class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div> 