<h2><%= t('docs.pages.aid.title') %></h2>

<p><%= t('docs.pages.aid.intro') %></p>

<h4><%= t('docs.pages.aid.resources.heading') %></h4>
<p><%= t('docs.pages.aid.resources.list') %></p>

<h4><%= t('docs.pages.aid.how.heading') %></h4>
<ul>
  <li><%= t('docs.pages.aid.how.fee_html') %></li>
  <li><%= t('docs.pages.aid.how.capacity') %></li>
  <li><%= t('docs.pages.aid.how.turns_html') %></li>
  <li><%= t('docs.pages.aid.how.cooldown_html') %></li>
</ul>

<div class="alert alert-info">
  <%= t('docs.pages.aid.tip_html') %>
</div>

<h4><%= t('docs.pages.aid.cancel.heading') %></h4>
<p><%= t('docs.pages.aid.cancel.desc') %></p>
