<h2><%= t('docs.pages.attack.title') %></h2>

<p><%= t('docs.pages.attack.intro') %></p>

<h4><%= t('docs.pages.attack.army.heading') %></h4>
<p><%= t('docs.pages.attack.army.desc') %></p>

<p><strong><%= t('docs.pages.attack.army.objectives_label') %></strong></p>
<table class="table table-bordered table-sm">
  <thead><tr><th><%= t('docs.pages.attack.army.table.type') %></th><th><%= t('docs.pages.attack.army.table.effect') %></th></tr></thead>
  <tbody>
    <tr><td><strong><%= t('docs.pages.attack.army.conquer') %></strong></td><td><%= t('docs.pages.attack.army.conquer_effect') %></td></tr>
    <tr><td><strong><%= t('docs.pages.attack.army.raid') %></strong></td><td><%= t('docs.pages.attack.army.raid_effect') %></td></tr>
    <tr><td><strong><%= t('docs.pages.attack.army.rob') %></strong></td><td><%= t('docs.pages.attack.army.rob_effect') %></td></tr>
    <tr><td><strong><%= t('docs.pages.attack.army.slaughter') %></strong></td><td><%= t('docs.pages.attack.army.slaughter_effect') %></td></tr>
  </tbody>
</table>

<p><%= t('docs.pages.attack.army.wine_html') %></p>
<p><%= t('docs.pages.attack.army.cost_html') %></p>

<h4><%= t('docs.pages.attack.score_ratio.heading') %></h4>
<p><%= t('docs.pages.attack.score_ratio.desc') %></p>
<table class="table table-bordered table-sm">
  <thead>
    <tr>
      <th class="text-center"><%= t('docs.pages.attack.score_ratio.table.ratio') %></th>
      <th class="text-center"><%= t('docs.pages.attack.score_ratio.table.run_chance') %></th>
      <th class="text-center"><%= t('docs.pages.attack.score_ratio.table.vp') %></th>
    </tr>
  </thead>
  <tbody>
    <tr><td class="text-center"><%= t('docs.pages.attack.score_ratio.below_2x') %></td><td class="text-center">0%</td><td class="text-center">100%</td></tr>
    <tr><td class="text-center"><%= t('docs.pages.attack.score_ratio.r2x') %></td><td class="text-center">20%</td><td class="text-center">50%</td></tr>
    <tr><td class="text-center"><%= t('docs.pages.attack.score_ratio.r3x') %></td><td class="text-center">30%</td><td class="text-center">40%</td></tr>
    <tr><td class="text-center"><%= t('docs.pages.attack.score_ratio.r4x') %></td><td class="text-center">40%</td><td class="text-center">30%</td></tr>
    <tr><td class="text-center"><%= t('docs.pages.attack.score_ratio.r5x') %></td><td class="text-center">50%</td><td class="text-center">20%</td></tr>
    <tr><td class="text-center"><%= t('docs.pages.attack.score_ratio.r6x') %></td><td class="text-center">60%</td><td class="text-center">10%</td></tr>
    <tr><td class="text-center"><%= t('docs.pages.attack.score_ratio.r8x') %></td><td class="text-center">70%</td><td class="text-center">5%</td></tr>
    <tr><td class="text-center"><%= t('docs.pages.attack.score_ratio.r10x') %></td><td class="text-center">80%</td><td class="text-center">1%</td></tr>
  </tbody>
</table>

<h4><%= t('docs.pages.attack.repeat.heading') %></h4>
<p><%= t('docs.pages.attack.repeat.desc') %></p>
<table class="table table-bordered table-sm">
  <thead>
    <tr>
      <th class="text-center"><%= t('docs.pages.attack.repeat.table.attacks') %></th>
      <th class="text-center"><%= t('docs.pages.attack.repeat.table.victory_mult') %></th>
      <th class="text-center"><%= t('docs.pages.attack.repeat.table.attack_mult') %></th>
    </tr>
  </thead>
  <tbody>
    <tr><td class="text-center">1–2</td><td class="text-center">100%</td><td class="text-center">100%</td></tr>
    <tr><td class="text-center">3–4</td><td class="text-center">80%</td><td class="text-center">92%</td></tr>
    <tr><td class="text-center">5–7</td><td class="text-center">65%</td><td class="text-center">84%</td></tr>
    <tr><td class="text-center">8–9</td><td class="text-center">50%</td><td class="text-center">76%</td></tr>
    <tr><td class="text-center">10–11</td><td class="text-center">35%</td><td class="text-center">68%</td></tr>
    <tr><td class="text-center">12–14</td><td class="text-center">20%</td><td class="text-center">60%</td></tr>
    <tr><td class="text-center">15+</td><td class="text-center">1%</td><td class="text-center">25%</td></tr>
  </tbody>
</table>

<hr>

<h4><%= t('docs.pages.attack.catapult.heading') %></h4>
<p><%= t('docs.pages.attack.catapult.desc') %></p>
<ul>
  <li><%= t('docs.pages.attack.catapult.army_towers_html') %></li>
  <li><%= t('docs.pages.attack.catapult.population_html') %></li>
  <li><%= t('docs.pages.attack.catapult.buildings_html') %></li>
</ul>
<p><%= t('docs.pages.attack.catapult.defense_html',
         atk: @soldiers['catapult']&.attack_points&.to_i || 25,
         def: @soldiers['catapult']&.defense_points&.to_i || 25) %></p>

<hr>

<h4><%= t('docs.pages.attack.thief.heading') %></h4>
<p><%= t('docs.pages.attack.thief.desc') %></p>
<ul>
  <li><%= t('docs.pages.attack.thief.steal_army_html') %></li>
  <li><%= t('docs.pages.attack.thief.steal_buildings_html') %></li>
  <li><%= t('docs.pages.attack.thief.steal_research_html') %></li>
  <li><%= t('docs.pages.attack.thief.steal_goods_html') %></li>
  <li><%= t('docs.pages.attack.thief.poison_html') %></li>
  <li><%= t('docs.pages.attack.thief.fire_html') %></li>
</ul>
<p><%= t('docs.pages.attack.thief.defense_html',
         atk: @soldiers['thieve']&.attack_points&.to_i || 50,
         def: @soldiers['thieve']&.defense_points&.to_i || 55) %></p>

<hr>

<h4><%= t('docs.pages.attack.mechanics.heading') %></h4>
<ul>
  <li><%= t('docs.pages.attack.mechanics.random') %></li>
  <li><%= t('docs.pages.attack.mechanics.wall') %></li>
  <li><%= t('docs.pages.attack.mechanics.mil_losses_html') %></li>
  <li><%= t('docs.pages.attack.mechanics.attack_pts_html') %></li>
  <li><%= t('docs.pages.attack.mechanics.defense_pts_html') %></li>
  <li><%= t('docs.pages.attack.mechanics.starvation') %></li>
</ul>
