<h2><%= t('docs.pages.basics.title') %></h2>

<h4><%= t('docs.pages.basics.turns.heading') %></h4>
<p><%= t('docs.pages.basics.turns.p1_html', max_turns: @game.max_turns, minutes: @game.seconds_per_turn / 60) %></p>
<p><%= t('docs.pages.basics.turns.p2') %></p>

<h4><%= t('docs.pages.basics.land.heading') %></h4>
<p><%= t('docs.pages.basics.land.desc') %></p>
<table class="table table-bordered table-sm">
  <thead>
    <tr>
      <th><%= t('docs.pages.basics.land.table_type') %></th>
      <th><%= t('docs.pages.basics.land.table_used_for') %></th>
    </tr>
  </thead>
  <tbody>
    <tr><td><strong><%= t('docs.pages.basics.land.mountains') %></strong></td><td><%= t('docs.pages.basics.land.mountains_used') %></td></tr>
    <tr><td><strong><%= t('docs.pages.basics.land.forest') %></strong></td><td><%= t('docs.pages.basics.land.forest_used') %></td></tr>
    <tr><td><strong><%= t('docs.pages.basics.land.plains') %></strong></td><td><%= t('docs.pages.basics.land.plains_used') %></td></tr>
  </tbody>
</table>
<p><%= t('docs.pages.basics.land.gain_html') %></p>

<h4><%= t('docs.pages.basics.getting_started.heading') %></h4>
<ol>
  <% t('docs.pages.basics.getting_started.steps_html').each do |step| %>
    <li><%= step %></li>
  <% end %>
</ol>

<h4><%= t('docs.pages.basics.seasons.heading') %></h4>
<p><%= t('docs.pages.basics.seasons.desc') %></p>
<ul>
  <li><%= t('docs.pages.basics.seasons.farms_html') %></li>
  <li><%= t('docs.pages.basics.seasons.winter_html') %></li>
</ul>

<h4><%= t('docs.pages.basics.protection.heading') %></h4>
<p><%= t('docs.pages.basics.protection.desc_html', turns: @game.settings['protection_turns'] || 200) %></p>

<h4><%= t('docs.pages.basics.scoring.heading') %></h4>
<p><%= t('docs.pages.basics.scoring.desc') %></p>
