<h2><%= t('docs.pages.buildings.title') %></h2>

<p><%= t('docs.pages.buildings.intro_html', civs_link: link_to(t('docs.nav.civs'), game_docs_path(@game, page: 'civs'))) %></p>

<% land_labels = {
  'forest'   => t('docs.pages.buildings.land_types.forest'),
  'plain'    => t('docs.pages.buildings.land_types.plain'),
  'mountain' => t('docs.pages.buildings.land_types.mountain')
} %>

<h4><%= t('docs.pages.buildings.production_heading') %></h4>
<table class="table table-bordered table-sm">
  <thead>
    <tr>
      <th><%= t('docs.pages.buildings.table.building') %></th>
      <th class="text-center"><%= t('docs.pages.buildings.table.land') %></th>
      <th class="text-center"><%= t('docs.pages.buildings.table.squares') %></th>
      <th class="text-center"><%= t('docs.pages.buildings.table.workers') %></th>
      <th class="text-center"><%= t('docs.pages.buildings.table.cost') %></th>
      <th class="text-center"><%= t('docs.pages.buildings.table.production') %></th>
      <th><%= t('docs.pages.buildings.table.notes') %></th>
    </tr>
  </thead>
  <tbody>
    <% %w[hunter farm wood_cutter iron_mine gold_mine winery tool_maker weaponsmith stable mage_tower].each do |key| %>
      <% b = @buildings[key] %>
      <% next unless b %>
      <%
        land      = land_labels[b.land.to_s] || b.land.to_s.capitalize
        prod      = b.production.to_f
        prod_name = b.settings['production_name'] || ''
      %>
      <tr>
        <td><strong><%= b.name %></strong></td>
        <td class="text-center"><%= land %></td>
        <td class="text-center"><%= b.squares.to_i %></td>
        <td class="text-center"><%= b.workers.to_i %></td>
        <td class="text-center"><%= b.cost_wood.to_i %>/<%= b.cost_iron.to_i %>/<%= b.cost_gold.to_i %></td>
        <td class="text-center">
          <% if prod > 0 %>
            <%= prod == prod.to_i ? prod.to_i : prod %> <%= prod_name %>
          <% end %>
          <% if key == 'tool_maker' %>
            <br><small class="text-secondary"><%= t('docs.pages.buildings.notes.tool_maker_cost', wood: b.settings['tool_wood_need'] || 2, iron: b.settings['tool_iron_need'] || 2) %></small>
          <% elsif key == 'winery' %>
            <br><small class="text-secondary"><%= t('docs.pages.buildings.notes.winery_cost', gold: b.settings['wine_gold_need'] || 10) %></small>
          <% elsif key == 'stable' %>
            <br><small class="text-secondary"><%= t('docs.pages.buildings.notes.stable_cost', food: b.settings['food_need'] || 100) %></small>
          <% elsif key == 'mage_tower' %>
            <br><small class="text-secondary"><%= t('docs.pages.buildings.notes.mage_tower_cost', gold: b.settings['research_gold_need'] || 100) %></small>
          <% end %>
        </td>
        <td>
          <% if key == 'tool_maker' %>
            <%= t('docs.pages.buildings.notes.tool_maker_builders', count: b.settings['num_builders'] || 6) %>
          <% elsif key == 'weaponsmith' %>
            <%= t('docs.pages.buildings.notes.weaponsmith_note', bow_wood: b.settings['bow_wood_need'] || 25, sword_iron: b.settings['sword_iron_need'] || 25, mace_wood: b.settings['mace_wood_need'] || 6, mace_iron: b.settings['mace_iron_need'] || 6) %>
          <% elsif key == 'mage_tower' %>
            <%= t('docs.pages.buildings.notes.mage_tower_prod') %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<h4><%= t('docs.pages.buildings.military_heading') %></h4>
<table class="table table-bordered table-sm">
  <thead>
    <tr>
      <th><%= t('docs.pages.buildings.table.building') %></th>
      <th class="text-center"><%= t('docs.pages.buildings.table.land') %></th>
      <th class="text-center"><%= t('docs.pages.buildings.table.squares') %></th>
      <th class="text-center"><%= t('docs.pages.buildings.table.cost') %></th>
      <th><%= t('docs.pages.buildings.table.special') %></th>
    </tr>
  </thead>
  <tbody>
    <% %w[fort tower town_center market warehouse house].each do |key| %>
      <% b = @buildings[key] %>
      <% next unless b %>
      <tr>
        <td><strong><%= b.name %></strong></td>
        <td class="text-center"><%= land_labels[b.land.to_s] || b.land.to_s.capitalize %></td>
        <td class="text-center"><%= b.squares.to_i %></td>
        <td class="text-center"><%= b.cost_wood.to_i %>/<%= b.cost_iron.to_i %>/<%= b.cost_gold.to_i %></td>
        <td>
          <% if key == 'fort' %>
            <%= t('docs.pages.buildings.notes.fort_note', max_units: b.settings['max_units'] || 15, food: b.food_eaten.to_i) %>
          <% elsif key == 'tower' %>
            <%= t('docs.pages.buildings.notes.tower_note', pts: b.settings['defense_points'] || 50) %>
          <% elsif key == 'town_center' %>
            <%= t('docs.pages.buildings.notes.town_center_note', pop: b.people.to_i, storage: b.settings['resources_limit_increase'] || 1000, explorers: b.settings['max_explorers'] || 6) %>
          <% elsif key == 'market' %>
            <%= t('docs.pages.buildings.notes.market_note', trades: b.settings['max_trades'] || 50) %>
          <% elsif key == 'warehouse' %>
            <%= t('docs.pages.buildings.notes.warehouse_note', storage: b.settings['resources_limit_increase'] || 2500) %>
          <% elsif key == 'house' %>
            <%= t('docs.pages.buildings.notes.house_note', pop: b.people.to_i, food: b.food_eaten.to_i) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="alert alert-secondary mt-3">
  <%= t('docs.pages.buildings.legend_html', civs_link: link_to(t('docs.nav.civs'), game_docs_path(@game, page: 'civs'))) %>
</div>

<h4><%= t('docs.pages.buildings.builders.heading') %></h4>
<p><%= t('docs.pages.buildings.builders.desc_html',
         per_maker: @buildings['tool_maker']&.settings&.dig('num_builders') || 6,
         base_count: Building::DEFAULT_NUM_BUILDERS) %></p>
