<h2><%= t('docs.pages.explore.title') %></h2>

<p><%= t('docs.pages.explore.intro_html',
         max_explorers: @buildings['town_center']&.settings&.dig('max_explorers') || 6,
         food_per_explorer: @buildings['town_center']&.settings&.dig('food_per_explorer') || 5) %></p>

<h4><%= t('docs.pages.explore.trip_length.heading') %></h4>
<table class="table table-bordered table-sm" style="max-width:350px">
  <thead>
    <tr>
      <th><%= t('docs.pages.explore.trip_length.table.horses') %></th>
      <th class="text-center"><%= t('docs.pages.explore.trip_length.table.turns') %></th>
    </tr>
  </thead>
  <tbody>
    <tr><td><%= t('docs.pages.explore.trip_length.no_horses') %></td><td class="text-center">6</td></tr>
    <tr><td><%= t('docs.pages.explore.trip_length.h1x') %></td><td class="text-center">8</td></tr>
    <tr><td><%= t('docs.pages.explore.trip_length.h2x') %></td><td class="text-center">10</td></tr>
    <tr><td><%= t('docs.pages.explore.trip_length.h3x') %></td><td class="text-center">12</td></tr>
  </tbody>
</table>
<p><%= t('docs.pages.explore.horses_desc_html') %></p>

<h4><%= t('docs.pages.explore.land_dist.heading') %></h4>
<table class="table table-bordered table-sm" style="max-width:400px">
  <thead>
    <tr>
      <th><%= t('docs.pages.explore.land_dist.table.type') %></th>
      <th class="text-center"><%= t('docs.pages.explore.land_dist.table.chance') %></th>
      <th class="text-center"><%= t('docs.pages.explore.land_dist.table.mult') %></th>
    </tr>
  </thead>
  <tbody>
    <tr><td><%= t('docs.pages.explore.land_dist.mountains') %></td><td class="text-center">~13%</td><td class="text-center">3×</td></tr>
    <tr><td><%= t('docs.pages.explore.land_dist.forest') %></td><td class="text-center">~26%</td><td class="text-center">2.5×</td></tr>
    <tr><td><%= t('docs.pages.explore.land_dist.plains') %></td><td class="text-center">~58%</td><td class="text-center">2×</td></tr>
  </tbody>
</table>
<p><%= t('docs.pages.explore.focus_desc_html') %></p>

<h4><%= t('docs.pages.explore.min_party.heading') %></h4>
<p><%= t('docs.pages.explore.min_party.desc_html') %></p>

<h4><%= t('docs.pages.explore.efficiency.heading') %></h4>
<p><%= t('docs.pages.explore.efficiency.desc_html') %></p>

<h4><%= t('docs.pages.explore.food_req.heading') %></h4>
<p><%= t('docs.pages.explore.food_req.desc') %></p>

<div class="alert alert-info">
  <%= t('docs.pages.explore.tip_html') %>
</div>
