<h2><%= t('docs.pages.home.title') %></h2>

<p>
  <% if @user_game %>
    <%= t('docs.pages.home.playing_as_html', civ_name: @user_game.civilization.name, game_id: @game.id) %>
  <% else %>
    <%= t('docs.pages.home.guest_html', game_id: @game.id) %>
  <% end %>
  <%= t('docs.pages.home.nav_hint') %>
</p>

<hr>

<div class="row">
  <div class="col-md-6">
    <h5><%= t('docs.pages.home.getting_started') %></h5>
    <ul>
      <% %w[basics civs resources buildings people manage].each do |page| %>
        <li><%= link_to t("docs.nav.#{page}"), game_docs_path(@game, page: page) %> — <%= t("docs.pages.home.link_desc.#{page}") %></li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-6">
    <h5><%= t('docs.pages.home.advanced_topics') %></h5>
    <ul>
      <% %w[army attack research trade aid explore wall].each do |page| %>
        <li><%= link_to t("docs.nav.#{page}"), game_docs_path(@game, page: page) %> — <%= t("docs.pages.home.link_desc.#{page}") %></li>
      <% end %>
    </ul>
  </div>
</div>

<hr>

<div class="alert alert-info">
  <%= t('docs.pages.home.note_html', game_id: @game.id) %>
</div>
