<h2><%= t('docs.pages.manage.title') %></h2>

<h4><%= t('docs.pages.manage.early.heading') %></h4>
<ol>
  <% t('docs.pages.manage.early.steps_html').each do |step| %>
    <li><%= step %></li>
  <% end %>
</ol>

<h4><%= t('docs.pages.manage.mid.heading') %></h4>
<ol>
  <% t('docs.pages.manage.mid.steps_html').each do |step| %>
    <li><%= step %></li>
  <% end %>
</ol>

<h4><%= t('docs.pages.manage.army.heading') %></h4>
<ul>
  <% t('docs.pages.manage.army.items').each do |item| %>
    <li><%= item %></li>
  <% end %>
  <% t('docs.pages.manage.army.items_html').each do |item| %>
    <li><%= item %></li>
  <% end %>
</ul>

<h4><%= t('docs.pages.manage.resources.heading') %></h4>
<ul>
  <% t('docs.pages.manage.resources.items').each do |item| %>
    <li><%= item %></li>
  <% end %>
</ul>

<h4><%= t('docs.pages.manage.production_pct.heading') %></h4>
<p><%= t('docs.pages.manage.production_pct.desc') %></p>

<h4><%= t('docs.pages.manage.research.heading') %></h4>
<ul>
  <% t('docs.pages.manage.research.items_html').each do |item| %>
    <li><%= item %></li>
  <% end %>
</ul>

<h4><%= t('docs.pages.manage.protection.heading') %></h4>
<p><%= t('docs.pages.manage.protection.desc_html', turns: @game.settings['protection_turns'] || 200) %></p>
