<h2><%= t('docs.pages.people.title') %></h2>

<p><%= t('docs.pages.people.intro') %></p>

<h4><%= t('docs.pages.people.cap.heading') %></h4>
<p><%= t('docs.pages.people.cap.desc_html',
         house_pop: @buildings['house']&.people&.to_i || 100,
         tc_pop: @buildings['town_center']&.people&.to_i || 100) %></p>

<h4><%= t('docs.pages.people.growth.heading') %></h4>
<p><%= t('docs.pages.people.growth.desc') %></p>
<table class="table table-bordered table-sm">
  <thead>
    <tr>
      <th class="text-center"><%= t('docs.pages.people.growth.table.ratio') %></th>
      <th class="text-center"><%= t('docs.pages.people.growth.table.change') %></th>
      <th class="text-center"><%= t('docs.pages.people.growth.table.multiplier') %></th>
    </tr>
  </thead>
  <tbody>
    <tr><td class="text-center"><%= t('docs.pages.people.growth.very_low') %></td><td class="text-center">−200 to −100</td><td class="text-center">0.45×</td></tr>
    <tr><td class="text-center"><%= t('docs.pages.people.growth.low') %></td><td class="text-center">−100 to −50</td><td class="text-center">0.75×</td></tr>
    <tr><td class="text-center"><%= t('docs.pages.people.growth.normal') %></td><td class="text-center">−30 to +50</td><td class="text-center">1×</td></tr>
    <tr><td class="text-center"><%= t('docs.pages.people.growth.high') %></td><td class="text-center">+50 to +100</td><td class="text-center">1.5×</td></tr>
    <tr><td class="text-center"><%= t('docs.pages.people.growth.very_high') %></td><td class="text-center">+100 to +200</td><td class="text-center">2.5×</td></tr>
    <tr><td class="text-center"><%= t('docs.pages.people.growth.maximum') %></td><td class="text-center">+200 to +400</td><td class="text-center">4×</td></tr>
    <tr><td class="text-center"><%= t('docs.pages.people.growth.extreme') %></td><td class="text-center">+400 to +800</td><td class="text-center">8×</td></tr>
  </tbody>
</table>
<p class="text-secondary"><small><%= t('docs.pages.people.growth.footnote') %></small></p>

<h4><%= t('docs.pages.people.food.heading') %></h4>
<p><%= t('docs.pages.people.food.desc') %></p>
<ul>
  <li><%= t('docs.pages.people.food.starve_html') %></li>
  <li><%= t('docs.pages.people.food.soldiers') %></li>
</ul>

<h4><%= t('docs.pages.people.winter.heading') %></h4>
<p><%= t('docs.pages.people.winter.desc_html') %></p>

<h4><%= t('docs.pages.people.working.heading') %></h4>
<p><%= t('docs.pages.people.working.desc_html') %></p>

<h4><%= t('docs.pages.people.civ_mods.heading') %></h4>
<p><%= t('docs.pages.people.civ_mods.desc') %></p>
<ul>
  <% %w[franks mongols chinese byzantines vikings].each do |civ| %>
    <li><%= t("docs.pages.people.civ_mods.#{civ}_html") %></li>
  <% end %>
</ul>
