<h2><%= t('docs.pages.resources.title') %></h2>

<p><%= t('docs.pages.resources.intro') %></p>

<table class="table table-bordered">
  <thead>
    <tr>
      <th style="width:10%"><%= t('docs.pages.resources.table.resource') %></th>
      <th style="width:30%"><%= t('docs.pages.resources.table.produced_by') %></th>
      <th style="width:30%"><%= t('docs.pages.resources.table.used_for') %></th>
      <th><%= t('docs.pages.resources.table.notes') %></th>
    </tr>
  </thead>
  <tbody>
    <% %w[gold food wood iron tools wine horses swords bows maces].each do |key| %>
      <tr>
        <td><strong><%= t("docs.pages.resources.items.#{key}.name") %></strong></td>
        <td><%= t("docs.pages.resources.items.#{key}.produced_by") %></td>
        <td><%= t("docs.pages.resources.items.#{key}.used_for") %></td>
        <td class="text-secondary"><small><%= t("docs.pages.resources.items.#{key}.notes") %></small></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h4><%= t('docs.pages.resources.storage.heading') %></h4>
<p><%= t('docs.pages.resources.storage.desc_html',
         town_center: @buildings['town_center']&.settings&.dig('resources_limit_increase') || 1000,
         warehouse: @buildings['warehouse']&.settings&.dig('resources_limit_increase') || 2500) %></p>

<h4><%= t('docs.pages.resources.weaponsmith.heading') %></h4>
<p><%= t('docs.pages.resources.weaponsmith.desc') %></p>
<% ws = @buildings['weaponsmith'] %>
<% if ws %>
  <ul>
    <li><%= t('docs.pages.resources.weaponsmith.bow', amount: ws.settings['bow_wood_need'] || 25) %></li>
    <li><%= t('docs.pages.resources.weaponsmith.sword', amount: ws.settings['sword_iron_need'] || 25) %></li>
    <li><%= t('docs.pages.resources.weaponsmith.mace', wood: ws.settings['mace_wood_need'] || 6, iron: ws.settings['mace_iron_need'] || 6) %></li>
  </ul>
<% end %>
