<h2><%= t('docs.pages.trade.title') %></h2>

<h4><%= t('docs.pages.trade.local.heading') %></h4>
<p><%= t('docs.pages.trade.local.desc') %></p>
<ul>
  <li><%= t('docs.pages.trade.local.town_center_html', count: @buildings['town_center']&.settings&.dig('max_local_trades') || 100) %></li>
  <li><%= t('docs.pages.trade.local.market_html', count: @buildings['market']&.settings&.dig('max_trades') || 50) %></li>
  <li><%= t('docs.pages.trade.local.research_html') %></li>
</ul>
<p><%= t('docs.pages.trade.local.price') %></p>

<h4><%= t('docs.pages.trade.auto.heading') %></h4>
<p><%= t('docs.pages.trade.auto.desc') %></p>

<h4><%= t('docs.pages.trade.global.heading') %></h4>
<p><%= t('docs.pages.trade.global.desc') %></p>

<p><strong><%= t('docs.pages.trade.global.selling_label') %></strong></p>
<ul>
  <li><%= t('docs.pages.trade.global.sell1') %></li>
  <li><%= t('docs.pages.trade.global.sell2_html') %></li>
  <li><%= t('docs.pages.trade.global.sell3') %></li>
  <li><%= t('docs.pages.trade.global.sell4_html') %></li>
  <li><%= t('docs.pages.trade.global.sell5') %></li>
</ul>

<p><strong><%= t('docs.pages.trade.global.buying_label') %></strong></p>
<ul>
  <li><%= t('docs.pages.trade.global.buy1') %></li>
  <li><%= t('docs.pages.trade.global.buy2_html') %></li>
  <li><%= t('docs.pages.trade.global.buy3_html') %></li>
</ul>

<div class="alert alert-info">
  <%= t('docs.pages.trade.tip_html') %>
</div>

<h4><%= t('docs.nav.aid') %></h4>
<p><%= t('docs.pages.trade.aid_html', aid_link: link_to(t('docs.pages.trade.aid_link_text'), game_docs_path(@game, page: 'aid'))) %></p>
