<h2><%= t('docs.pages.wall.title') %></h2>

<p><%= t('docs.pages.wall.intro') %></p>

<h4><%= t('docs.pages.wall.how_it_works.heading') %></h4>
<ul>
  <% t('docs.pages.wall.how_it_works.items_html').each do |item| %>
    <li><%= item %></li>
  <% end %>
</ul>

<h4><%= t('docs.pages.wall.building.heading') %></h4>
<p><%= t('docs.pages.wall.building.desc_html') %></p>

<%
  wall_gold = @game.wall_use_gold || 100
  wall_iron = @game.wall_use_iron || 2
  wall_wood = @game.wall_use_wood || 10
  wall_wine = @game.wall_use_wine || 0
%>

<table class="table table-bordered table-sm" style="max-width:350px">
  <thead>
    <tr>
      <th><%= t('docs.pages.wall.table.resource') %></th>
      <th class="text-center"><%= t('docs.pages.wall.table.per_unit') %></th>
    </tr>
  </thead>
  <tbody>
    <tr><td><%= t('docs.pages.wall.table.gold') %></td><td class="text-center"><%= wall_gold %></td></tr>
    <tr><td><%= t('docs.pages.wall.table.iron') %></td><td class="text-center"><%= wall_iron %></td></tr>
    <tr><td><%= t('docs.pages.wall.table.wood') %></td><td class="text-center"><%= wall_wood %></td></tr>
    <% if wall_wine.to_i > 0 %>
      <tr><td><%= t('docs.pages.wall.table.wine') %></td><td class="text-center"><%= wall_wine %></td></tr>
    <% end %>
  </tbody>
</table>

<div class="alert alert-info">
  <%= t('docs.pages.wall.tip_html') %>
</div>

<h4><%= t('docs.pages.wall.civ_note.heading') %></h4>
<p><%= t('docs.pages.wall.civ_note.desc_html') %></p>
